<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sortify - Search</title>
    <link
      href="/your-path-to-fontawesome/css/fontawesome.css"
      rel="stylesheet"
    />
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/form_style.css" />
  </head>

  <body>
    <div class="header-img"></div>
    <p>Hello {{name}}! Search an album to get started.</p>
    <br />

    <form action="/results">
      <input
        class="search"
        type="search"
        name="UserInput"
        placeholder="e.g. The Life of Pablo"
      />

      <input class="btn-submit" type="submit" value="Let's sort." />
    </form>
  </body>
</html>
