<!DOCTYPE html>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sortify</title>
    <link rel="stylesheet" href="../static/index_style.css" />
  </head>

  <body>
    <!-- <img src="/static/images/logo.jpg"> -->
    <div class="header-img"></div>

    <p class="introduction">
      <strong>Any album, sorted to match your taste.</strong><br />
      <br />Sortify ranks an album’s songs based on your listening <br />
      history so you can find the music you love, faster.
    </p>
    <br />

    <form action="/submit">
      <div>
        <button type="submit" class="btn">
          <img
            class="logo"
            src="../static/images/Spotify_Icon_RGB_Green.png"
            alt="submit"
          /> Connect with Spotify
        </button>
      </div>
    </form>
  </body>
</html>
