
body {
  font-family: Avenir;
  color: white;
  margin: auto;
  background-color: #343434;
}

.header-img {
  padding-bottom: 40px;
  background-image: url("./images/logo.jpg");
  background-repeat: no-repeat;
  height: 50px;
  background-size: contain;
  position: absolute;
  min-width: 17%;
  width: 17%;
  top: 50px;
  margin-left: 395px;
}

.album-img {
  padding-bottom: 10px;
  background-repeat: no-repeat;
  height: 205px;
  background-size: contain;
  position: absolute;
  top: 135px;
  margin-left: 402px;
  margin-right: 50px;
}

.album-title {
  margin-top: 180px;
  margin-left: 660px;
  font-size: 25pt;
}

.album-info {
  margin-top: 35px;
  margin-left: 660px;
  font-size: 15pt;
}

table {
    border: None;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0 7px;
    margin-left: 500px;
    margin-top: 40px;
    padding-bottom: 30px;
    width: 470px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: left;
}

th {
    border: None;
    border-bottom: 1px solid white;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: left;
}

tr, td {
    border: None;
}
